.news-list {
  margin-bottom: 8px;
}

.news-list .news-item {
  margin-bottom: 8px;
}

.news-more {
  margin: 0 0 18px 24px;
}

.news-toggle {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  color: #39c;
  cursor: pointer;
  list-style: none;
}

.news-toggle::-webkit-details-marker {
  display: none;
}

.news-toggle::before {
  content: "\2022";
  margin-right: 10px;
  color: #666666;
}

.news-more[open] .news-toggle {
  font-size: 0;
}

.news-more[open] .news-toggle::after {
  content: "Show less";
  font-size: 1rem;
  font-weight: 500;
  color: #39c;
}

.news-list-more {
  margin: 8px 0 0 0;
}
