.news-list {
  margin-bottom: 8px;
}

.news-list .news-item {
  margin-bottom: 8px;
}

.news-list .news-item.news-hidden {
  display: none;
}

.news-toggle {
  display: inline-block;
  margin: 0 0 18px 24px;
  font-size: 1rem;
  font-weight: 500;
}

.news-toggle::before {
  content: "\2022";
  margin-right: 10px;
  color: #666666;
}
